.input {
    padding: 14px;
    font-size: 16px;

    border: 1px solid #d9d9d9;
    border-radius: 10px;

    outline: none;

    transition: .25s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #003366;
    margin-bottom: 20px;
}

.button {
    margin-top: 15px;

    background: #0056d6;
    color: white;

    padding: 10px 20px;

    font-size: 15px;
    font-weight: 600;

    border: none;
    border-radius: 10px;
}